/* this navigation */
#navbar {

    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;

}

/* this home section  */
#home {
    height: 158px;
    padding: 3px 68px;
}

#home::before {
    height: 480px;
}

#home p {
    font-size: 1rem
}

/* this services section */

#services {
    flex-direction: column;


}

#services .box {
    margin-top: 15px;

}

/* this client section */
#clients {

    flex-wrap: wrap;
}



.btn {
    font-size: 13px;
    padding: 4px 8px;
}

